<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<h1>Promociones</h1>

<table>
<% if current_user %>
Logged in as <%= current_user.email %>.

<% @advertisements.each do |advertisement| %>
  <tr>
    <td><%= image_tag advertisement.photo.url(:medium) %></td>
    <td><%= link_to 'Show', advertisement %></td>
    <td><%= link_to 'Edit', edit_advertisement_path(advertisement) %></td>

  </tr>
<% end %>
</table>
  <% else %>
    
    <%= link_to "log in", promociones_path %>
  <% end %>
<br />






